In [122]:
import pandas as pd
import numpy as np

In [123]:
# read 22140-0002-Data.tsv as a pandas dataframe
df = pd.read_table('22140-0002-Data.tsv',low_memory=False)

In [124]:

df.shape

(85890, 155)

In [125]:
df.head()

,RID,ID1,ID2,DYADKEY,DYADTYPE,TIETYPE,RECENT,intdate,begdate,enddate,testdate,testdat1,testdat2,SAMPLE,SG,SG1,SG2,NTYPE1,NTYPE2,FRSTTYPE,FRSTTYP1,FRSTTYP2,IDKNOWN,IDKNOWN1,IDKNOWN2,LOCAL,LOCAL1,LOCAL2,RACE,RACE1,RACE2,ETHN,ETHN1,ETHN2,SEX,SEX1,SEX2,ORIENT,ORIENT1,ORIENT2,BEHAV,BEHAV1,BEHAV2,OCCPRES,OCCPRES1,OCCPRES2,OCCCENS,OCCCENS1,OCCCENS2,AGE,AGE1,AGE2,PRO,PRO1,PRO2,PIMP,PIMP1,PIMP2,JOHN,JOHN1,JOHN2,DEALER,DEALER1,DEALER2,DRUGMAN,DRUGMAN1,DRUGMAN2,THIEF,THIEF1,THIEF2,RETIRED,RETIRED1,RETIRED2,HWIFE,HWIFE1,HWIFE2,DISABLE,DISABLE1,DISABLE2,UNEMP,UNEMP1,UNEMP2,STREETS,STREETS1,STREETS2,YEAR,STDYYEAR,ITER,WINDOW,MARIT,MARIT1,MARIT2,EDUC,EDUC1,EDUC2,GONO,GONO1,GONO2,GONOEV,GONOEV1,GONOEV2,CHLAM,CHLAM1,CHLAM2,CHLAMEV,CHLAMEV1,CHLAMEV2,SYPH,SYPH1,SYPH2,SYPHEV,SYPHEV1,SYPHEV2,HIV,HIV1,HIV2,HBV,HBV1,HBV2,GONOHX,GONOHX1,GONOHX2,CHLAMHX,CHLAMHX1,CHLAMHX2,SYPHHX,SYPHHX1,SYPHHX2,HIVHX,HIVHX1,HIVHX2,FREQ,CHAIN,NET_TYPE,LINENUM1,LINENUM2,RELTYPE,OCC2,OCCLOC2,FRSTYR2,SOURCES2,BACKFIL2,OCC1,OCCLOC1,FRSTYR1,SOURCES1,BACKFIL1,OCC,OCCLOC,FRSTYR,SOURCES,STUDYNUM,YOB,YOB1,YOB2
0,1,1,106,0,0,3,1,23-Apr-1992,01-Jan-1900,01-Jan-1900,23-Apr-1992,23-Apr-1992,08-Jun-1988,1,0,0,0,1,1,1,1,3,1,1,1,1,1,1,4,4,4,0,0,0,1,1,1,-8,-8,-8,2,2,2,13.61,13.61,13.61,469,469,469,27,27,37,1,1,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,1,0,0,0,0,1992,4,4,6,-8,-8,-8,-9,-9,-8,-8,-8,-8,-8,-8,-8,-8,-8,-8,-8,-8,-8,0,0,-8,0,0,0,0,0,-8,-9,-9,-8,-8,-8,-8,-8,-8,-8,-9,-9,-8,-9,-9,-8,1,-8,-8,0,19,FRIEND,Masked,,1,6,1,"FORMER EXOTIC DANCER, PRO",,1,9,1,"FORMER EXOTIC DANCER, PRO",,1,9,1,1964,1964,1954
1,1,1,236,0,0,2,0,28-Feb-1990,01-Jan-1900,01-Jan-1900,09-Mar-1990,09-Mar-1990,28-Aug-1989,1,0,0,0,1,1,1,1,3,1,1,1,1,1,1,4,4,4,0,0,0,1,1,1,-8,-8,-8,2,2,0,13.61,13.61,42.87,469,469,567,25,25,27,1,1,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,1,1,0,0,0,1990,2,2,6,-8,-8,-8,-9,-9,-9,-8,-8,-8,-8,-8,-8,-8,-8,-8,-8,-8,-8,0,0,0,0,0,0,0,0,0,-9,-9,1,-8,-8,-8,-8,-8,-8,-9,-9,-9,0,0,-9,0,-8,-8,0,10,,Masked,Masked,2,17,0,"FORMER EXOTIC DANCER, PRO",,1,9,1,"FORMER EXOTIC DANCER, PRO",,1,9,1,1964,1964,1962
2,1,1,266,0,0,2,1,23-Apr-1991,01-Jan-1900,01-Jan-1900,23-Apr-1991,23-Apr-1991,24-Jan-1991,1,0,0,11,1,1,1,1,3,1,1,1,1,1,1,4,4,2,0,0,0,1,1,1,-8,-8,-8,2,2,2,13.61,13.61,13.61,469,469,469,26,26,28,1,1,1,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,1,1,0,0,0,1991,3,3,6,-8,-8,-8,-9,-9,-8,-8,-8,-8,-8,-8,-8,-8,-8,-8,-8,-8,-8,0,0,0,0,0,0,0,0,0,-9,-9,0,-8,-8,-8,-8,-8,-8,-9,-9,-9,-9,-9,0,3,-8,-8,0,3,,Masked,,1,31,1,"FORMER EXOTIC DANCER, PRO",,1,9,1,"FORMER EXOTIC DANCER, PRO",,1,9,1,1964,1964,1962
3,1,1,266,0,0,4,1,23-Apr-1991,01-Jan-1900,01-Jan-1900,23-Apr-1991,23-Apr-1991,24-Jan-1991,1,0,0,11,1,1,1,1,3,1,1,1,1,1,1,4,4,2,0,0,0,1,1,1,-8,-8,-8,2,2,2,13.61,13.61,13.61,469,469,469,26,26,28,1,1,1,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,1,1,0,0,0,1991,3,3,6,-8,-8,-8,-9,-9,-8,-8,-8,-8,-8,-8,-8,-8,-8,-8,-8,-8,-8,0,0,0,0,0,0,0,0,0,-9,-9,0,-8,-8,-8,-8,-8,-8,-9,-9,-9,-9,-9,0,2,-8,-8,0,3,,Masked,,1,31,1,"FORMER EXOTIC DANCER, PRO",,1,9,1,"FORMER EXOTIC DANCER, PRO",,1,9,1,1964,1964,1962
4,1,1,283,0,0,2,1,23-Apr-1991,01-Jan-1900,01-Jan-1900,23-Apr-1991,23-Apr-1991,30-Apr-1990,1,0,0,0,1,1,1,1,3,1,1,1,1,1,1,4,4,4,0,0,0,1,1,1,-8,-8,-8,2,2,2,13.61,13.61,13.61,469,469,469,26,26,20,1,1,1,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,1,1,0,0,0,1991,3,3,6,-8,-8,-8,-9,-9,-8,-8,-8,-8,-8,-8,-8,-8,-8,-8,-8,-8,-8,0,0,0,0,0,0,0,0,0,-9,-9,0,-8,-8,-8,-8,-8,-8,-9,-9,-9,-9,-9,0,2,-8,-8,0,5,,Masked,Masked,1,36,1,"FORMER EXOTIC DANCER, PRO",,1,9,1,"FORMER EXOTIC DANCER, PRO",,1,9,1,1964,1964,1971

In [126]:
# check the duplicate rows in df
df.duplicated().sum()

0

In [127]:
# check the duplicate rows on ID1 and ID2 in df
df.duplicated(subset=['ID1','ID2']).sum()

36100

In [128]:
# check if the RID column is the same as ID1
df['RID'].equals(df['ID1'])

False

In [129]:
# check the difference between RID and ID1, and show the values that are not 0
df[df['RID'] - df['ID1'] != 0]

,RID,ID1,ID2,DYADKEY,DYADTYPE,TIETYPE,RECENT,intdate,begdate,enddate,testdate,testdat1,testdat2,SAMPLE,SG,SG1,SG2,NTYPE1,NTYPE2,FRSTTYPE,FRSTTYP1,FRSTTYP2,IDKNOWN,IDKNOWN1,IDKNOWN2,LOCAL,LOCAL1,LOCAL2,RACE,RACE1,RACE2,ETHN,ETHN1,ETHN2,SEX,SEX1,SEX2,ORIENT,ORIENT1,ORIENT2,BEHAV,BEHAV1,BEHAV2,OCCPRES,OCCPRES1,OCCPRES2,OCCCENS,OCCCENS1,OCCCENS2,AGE,AGE1,AGE2,PRO,PRO1,PRO2,PIMP,PIMP1,PIMP2,JOHN,JOHN1,JOHN2,DEALER,DEALER1,DEALER2,DRUGMAN,DRUGMAN1,DRUGMAN2,THIEF,THIEF1,THIEF2,RETIRED,RETIRED1,RETIRED2,HWIFE,HWIFE1,HWIFE2,DISABLE,DISABLE1,DISABLE2,UNEMP,UNEMP1,UNEMP2,STREETS,STREETS1,STREETS2,YEAR,STDYYEAR,ITER,WINDOW,MARIT,MARIT1,MARIT2,EDUC,EDUC1,EDUC2,GONO,GONO1,GONO2,GONOEV,GONOEV1,GONOEV2,CHLAM,CHLAM1,CHLAM2,CHLAMEV,CHLAMEV1,CHLAMEV2,SYPH,SYPH1,SYPH2,SYPHEV,SYPHEV1,SYPHEV2,HIV,HIV1,HIV2,HBV,HBV1,HBV2,GONOHX,GONOHX1,GONOHX2,CHLAMHX,CHLAMHX1,CHLAMHX2,SYPHHX,SYPHHX1,SYPHHX2,HIVHX,HIVHX1,HIVHX2,FREQ,CHAIN,NET_TYPE,LINENUM1,LINENUM2,RELTYPE,OCC2,OCCLOC2,FRSTYR2,SOURCES2,BACKFIL2,OCC1,OCCLOC1,FRSTYR1,SOURCES1,BACKFIL1,OCC,OCCLOC,FRSTYR,SOURCES,STUDYNUM,YOB,YOB1,YOB2
126,2,4054,4055,1,2,3,1,21-May-1991,01-Jan-1900,01-Jan-1900,21-May-1991,,02-Jan-1900,1,0,-1,-1,3,3,1,3,3,1,1,1,1,1,1,4,3,3,0,0,-9,1,0,1,-8,-8,-8,2,0,0,13.61,61.82,-9.00,469,19,-9,25,42,-9,1,0,-9,0,0,-9,0,1,0,0,0,-9,0,0,-9,0,0,-9,0,0,-9,1,0,-9,0,0,-9,1,0,-9,0,0,-9,1991,4,3,6,-8,-8,-8,-9,-8,-8,-8,,-8,-8,-8,-8,-8,,-8,-8,-8,-8,0,,-9,0,-9,-9,0,,-8,-9,,0,-8,,-8,-8,,-8,-9,,-8,-9,,-8,8,-8,-8,8,0,#8'S WIFE,,,4,1,1,OWNER,PRINTING EQUIPMENT BUSINESS,1,1,1,"UNEMP,PRO,X-SILK SCREENER",SILK SCREENING PLANT,1,1,1,1966,1948,1900
198,5,64,268,2,2,1,0,16-Dec-1988,01-Jan-1900,01-Jan-1900,16-Dec-1988,20-May-1988,02-Jan-1900,1,0,0,-1,1,2,3,3,3,1,1,1,1,1,1,4,4,3,1,0,0,0,1,0,-8,-8,-8,0,2,0,48.44,13.61,36.43,473,469,869,33,30,36,0,1,0,0,0,1,1,0,0,1,1,1,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,1,0,0,0,1988,1,1,6,-8,-8,-8,12,12,-8,-8,-8,-8,-8,-8,-8,-8,-8,-8,-8,-8,-8,0,0,-9,0,0,-9,0,0,-8,-9,-9,0,-8,-8,-8,-8,-8,-8,-9,-9,-8,-9,0,-8,-8,-8,-8,5,0,,Masked,,1,7,1,"PRO, DDEALER,UNEMP",,1,10,1,"CONVEYORMAN,RANCH HAND","POWER PLANT,RANCH",1,4,1,1955,1958,1952
199,5,64,10019,3,2,1,0,16-Dec-1988,01-Jan-1900,01-Jan-1900,16-Dec-1988,20-May-1988,02-Jan-1900,1,0,0,-1,1,3,3,3,3,1,1,0,1,1,-9,4,4,3,1,0,0,0,1,1,-8,-8,-8,0,2,-9,48.44,13.61,-9.00,473,469,-9,33,30,29,0,1,-9,0,0,-9,1,0,-9,1,1,-9,1,0,-9,0,0,-9,0,0,-9,0,0,-9,0,0,-9,0,1,-9,0,0,-9,1988,1,1,6,-8,-8,-8,12,12,-8,-8,-8,-8,-8,-8,-8,-8,-8,-8,-8,-8,-8,0,0,-9,0,0,-9,0,0,-8,-9,-9,0,-8,-8,-8,-8,-8,-8,-9,-9,-8,-9,0,-8,-8,-8,-8,5,0,,,,1,1,1,"PRO, DDEALER,UNEMP",,1,10,1,"CONVEYORMAN,RANCH HAND","POWER PLANT,RANCH",1,4,1,1955,1958,1959
200,5,64,10061,4,2,1,0,16-Dec-1988,01-Jan-1900,01-Jan-1900,16-Dec-1988,20-May-1988,02-Jan-1900,1,0,0,-1,1,3,3,3,3,1,1,0,1,1,1,4,4,3,1,0,1,0,1,1,-8,-8,-8,0,2,-9,48.44,13.61,-9.00,473,469,-9,33,30,30,0,1,-9,0,0,-9,1,0,-9,1,1,-9,1,0,-9,0,0,-9,0,0,-9,0,0,-9,0,0,-9,0,1,-9,0,0,-9,1988,1,1,6,-8,-8,-8,12,12,-8,-8,-8,-8,-8,-8,-8,-8,-8,-8,-8,-8,-8,0,0,-9,0,0,-9,0,0,-8,-9,-9,0,-8,-8,-8,-8,-8,-8,-9,-9,-8,-9,0,-8,-8,-8,-8,5,0,,,,1,1,1,"PRO, DDEALER,UNEMP",,1,10,1,"CONVEYORMAN,RANCH HAND","POWER PLANT,RANCH",1,4,1,1955,1958,1958
201,5,151,41,1,2,1,0,16-Dec-1988,01-Jan-1900,01-Jan-1900,16-Dec-1988,01-Jan-1900,08-Aug-1988,1,0,0,0,1,1,3,3,3,1,1,1,1,1,1,4,4,4,1,0,0,0,1,1,-8,-8,-8,0,0,2,48.44,34.74,13.61,473,785,469,33,35,29,0,1,1,0,0,0,1,0,0,1,1,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,1,1,0,0,0,1988,1,1,6,-8,-8,-8,12,13,12,-8,-8,-8,-8,-8,-8,-8,-8,-8,-8,-8,-8,0,0,0,0,0,0,0,0,0,-9,-9,0,-8,-8,-8,-8,-8,-8,-9,-9,-9,-9,0,0,-8,-8,-8,2,0,NEEDLE PARTNER,Masked,Masked,1,16,1,"FORMER ASSEMBLER, PRO, UNEMP",HIGH-TECH ELECTRONICS FIRM,1,3,1,"CONVEYORMAN,RANCH HAND","POWER PLANT,RANCH",1,4,1,1955,1953,1959
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13488,762,1813,10585,1,2,3,0,19-Oct-1990,01-Jan-1900,01-Jan-1900,12-Sep-1990,,02-Jan-1900,1,0,-1,-1,3,3,1,3,3,1,1,0,1,0,-9,4,3,3,0,0,-9,1,1,0,-8,-8,-8,0,0,0,46.50,-9,-9.00,467,-9,-9,32,26,-9,0,0,-9,0,0,-9,0,0,0,0,0,-9,0,0,-9,0,0,-9,0,0,-9,0,1,-9,0,0,-9,0,0,-9,0,0,-9,1990,3,1,6,-8,-8,-8,13,-8,-8,-8,,-8,-8,-8,-8,-8,,-8,-8,-8,-8,0,,-9,0,-9,-9,0,,-8,-9,,0,-8,,-8,-8,,-8,-9,,-8,0,,-8,8,-8,-8,13,0,#13'S LOVER,,,3,1,1,HOUSEWIFE,,3,1,1,"NURSE'S AIDE, EX-PRO",PRIVATE HOMES,3,0,1,1958,1964,1900
14379,848,5656,13364,1,2,1,0,08-Sep-1992,01-Jan-1900,01-Jan-1900,08-Sep-1992,,02-Jan-1900,1,0,-1,-1,3,3,1,3,3,1,1,0,1,1,-9,4,2,3,1,0,-9,1,1,0,-8,-8,-8,0,0,0,33.93,-9,-9.00,405,-9,-9,36,40,-9,0,0,-9,0,0,-9,0,0,0,0,0,-9,0,0,-9,0,0,-9,0,0,-9,0,0,-9,0,0,-9,1,1,-9,0,0,-9,1992,5,2,6,-8,-8,-8,-9,-8,-8,-8,,-8,-8,-8,-8,-8,,-8,-8,-8,-8,0,,-9,0,-9,-9,1,,-8,-9,,0,-8,,-8,-8,,-8,-9,,-8,-9,,-8,-8,-8,-8,5,0,EX-HUSBAND,,,5,1,1,UNEMP,,5,1,1,"HOUSEKEEPER,MICROFILM OPERATOR",PRIVATE HOMES,3,0,1,1955,1952,1900
14380,848,5656,13364,1,2,3,0,08-Sep-1992,01-Jan-1900,01-Jan-1900,08-Sep-1992,,02-Jan-1900,1,0,-1,-1,3,3,1,3,3,1,1,0,1,1,-9,4,2,3,1,0,-9,1,1,0,-8,-8,-8,0,0,0,33.93,-9,-9.00,405,-9,-9,36,40,-9,0,0,-9,0,0,-9,0,0,0,0,0,-9,0,0,-9,0,0,-9,0,0,-9,0,0,-9,0,0,-9,1,1,-9,0,0,-9,1992,5,2,6,-8,-8,-8,-9,-8,-8,-8,,-8,-8,-8,-8,-8,,-8,-8,-8,-8,0,,-9,0,-9,-9,1,,-8,-9,,0,-8,,-8,-8,,-8,-9,,-8,-9,,-8,8,-8,-8,5,0,EX-HUSBAND,,,5,1,1,UNEMP,,5,1,1,"HOUSEKEEPER,MICROFILM OPERATOR",PRIVATE HOMES,3,0,1,1955,1952,1900
15383,982,13392,13393,1,2,1,0,11-Aug-1992,01-Jan-1900,01-Jan-1900,11-Aug-1992,,02-Jan-1900,1,11,-1,-1,3,3,3,3,3,1,0,0,1,1,1,4,3,3,1,1,-9,1,0,1,-8,-8,-8,0,0,0,43.53,39.91,-9.00,549,426,-9,34,52,-9,1,0,-9,0,0,-9,0,0,0,0,0,-9,0,0,-9,0,0,-9,0,0,-9,0,0,-9,0,0,-9,1,0,-9,0,0,-9,1992,5,3,6,-8,-8,-8,-9,-8,-8,-8,,-8,-8,-8,-8,-8,,-8,-8,-8,-8,0,,-9,0,-9,-9,0,,-8,-9,,0,-8,,-8,-8,,-8,-9,,-8,-9,,-8,-8,-8,-8,7,0,WIFE,,,5,1,1,SECURITY GUARD,,5,1,1,"MAINTENANCE,HANDICAP SUPRVSR","OFFICES,THRIFT STORE",2,1,1,1958,1940,1900
15384,982,13392,13393,1,2,3,0,11-Aug-1992,01-Jan-1900,01-Jan-1900,11-Aug-1992,,02-Jan-1900,1,11,-1,-1,3,3,3,3,3,1,0,0,1,1,1,4,3,3,1,1,-9,1,0,1,-8,-8,-8,0,0,0,43.53,39.91,-9.00,549,426,-9,34,52,-9,1,0,-9,0,0,-9,0,0,0,0,0,-9,0,0,-9,0,0,-9,0,0,-9,0,0,-9,0,0,-9,1,0,-9,0,0,-9,1992,5,3,6,-8,-8,-8,-9,-8,-8,-8,,-8,-8,-8,-8,-8,,-8,-8,-8,-8,0,,-9,0,-9,-9,0,,-8,-9,,0,-8,,-8,-8,,-8,-9,,-8,-9,,-8,8,-8,-8,7,0,WIFE,,,5,1,1,SECURITY GUARD,,5,1,1,"MAINTENANCE,HANDICAP SUPRVSR","OFFICES,THRIFT STORE",2,1,1,1958,1940,1900

In [130]:
# check the rows that have the column SEX1 as ' ' in df, only show SEX, SEX1, and SEX2
df.loc[df['SEX1']==' ', ['SEX','SEX1','SEX2']]

      SEX SEX1  SEX2
6529    0          1
6530    0          1

In [131]:
# check the rows that have the column ETHN1 as ' ' in df, only show ETHN, ETHN1, and ETHN2
df.loc[df['ETHN1']==' ', ['ETHN','ETHN1','ETHN2']]

      ETHN ETHN1  ETHN2
6529     0           -9
6530     0           -9

In [132]:
# check the rows that have the column RACE1 as ' ' in df, only show RACE, RACE1 and RACE2
df.loc[df['RACE1']==' ', ['RACE','RACE1','RACE2']]

      RACE RACE1  RACE2
6529     4            3
6530     4            3

In [133]:
# check the rows that RACE is the same as RACE1
df[df['RACE']==df['RACE1']].shape

(0, 155)

In [134]:
# keep the ID1, ID2, TIETYPE, RACE1, RACE2, SEX1, SEX2, ORIENT1, 
# ORIENT2, BEHAV1, BEHAV2, AGE1, AGE2, DEALER1, DEALER2, HWIFE1, HWIFE2,
# DISABLE1, DISABLE2, UnEMP1, UnEMP2, STREETS,YEAR, STDYYEAR,
# EDUC1, EDUC2, HIV1, HIV2, FREQ, YOB1, YOB2 columns in df
# Define the list of columns to keep
columns_to_keep = ['ID1', 'ID2', 'TIETYPE', 'RACE1', 'RACE2', 'SEX1', 'SEX2', 'ORIENT1', 'ORIENT2',
                   'BEHAV1', 'BEHAV2', 'AGE1', 'AGE2', 'DEALER1', 'DEALER2', 'HWIFE1', 'HWIFE2',
                   'DISABLE1', 'DISABLE2', 'UNEMP1', 'UNEMP2', 'STREETS1', 'STREETS2','YEAR', 'STDYYEAR',
                   'EDUC1', 'EDUC2', 'HIV1', 'HIV2', 'FREQ', 'YOB1', 'YOB2','FRSTYR']

# Use loc to select only the desired columns
df_ini = df.loc[:, columns_to_keep]

In [135]:
# Set the Pandas display options to show all columns
pd.set_option('display.max_columns', None)
display(df_ini.head(), df_ini.shape)

,ID1,ID2,TIETYPE,RACE1,RACE2,SEX1,SEX2,ORIENT1,ORIENT2,BEHAV1,BEHAV2,AGE1,AGE2,DEALER1,DEALER2,HWIFE1,HWIFE2,DISABLE1,DISABLE2,UNEMP1,UNEMP2,STREETS1,STREETS2,YEAR,STDYYEAR,EDUC1,EDUC2,HIV1,HIV2,FREQ,YOB1,YOB2,FRSTYR
0,1,106,3,4,4,1,1,-8,-8,2,2,27,37,0,0,0,0,0,0,1,0,0,0,1992,4,-9,-8,0,-8,1,1964,1954,1
1,1,236,2,4,4,1,1,-8,-8,2,0,25,27,0,0,0,0,0,0,1,1,0,0,1990,2,-9,-9,0,0,0,1964,1962,1
2,1,266,2,4,2,1,1,-8,-8,2,2,26,28,0,1,0,0,0,0,1,1,0,0,1991,3,-9,-8,0,0,3,1964,1962,1
3,1,266,4,4,2,1,1,-8,-8,2,2,26,28,0,1,0,0,0,0,1,1,0,0,1991,3,-9,-8,0,0,2,1964,1962,1
4,1,283,2,4,4,1,1,-8,-8,2,2,26,20,0,1,0,0,0,0,1,1,0,0,1991,3,-9,-8,0,0,2,1964,1971,1

(85890, 33)

In [136]:
# drop the ' ' values in all the columns in df_ini
df_filtered = df_ini.replace(' ', np.nan)

# drop the rows that have any missing values in df_ini
df_filtered = df_filtered.dropna()
df_filtered.shape

(85780, 33)

In [137]:
# change all the data type in df_filtered to numeric
df_filtered = df_filtered.apply(pd.to_numeric)

# check if there is aby non-numeric columns in df_filtered
df_filtered.select_dtypes(exclude=[np.number]).shape

(85780, 0)

In [138]:
# find the duplicated rows on ID1 and ID2 in df_filtered
df_filtered.duplicated(subset=['ID1','ID2']).sum()

36071

In [139]:
# group the df_filtered by FRSTYR and count the number of rows in each group
df_filtered.groupby('FRSTYR').size()

FRSTYR
1    53773
2    25720
3     5384
4      903
dtype: int64

In [140]:
# group the df_filtered by ID1 and ID2, and count the number of rows in each group
df_filtered.groupby(['ID1','ID2']).size()

ID1     ID2
0       10001     1
        10002     1
        10003     1
        10004     1
        10005     1
                 ..
300232  401722    2
        401723    2
300235  300100    1
        401733    2
        401734    1
Length: 49709, dtype: int64

In [141]:
# are the unique values in ID1 and ID2 the same?
display(len(df_filtered['ID1'].unique()) , len(df_filtered['ID2'].unique()))

4745

33081

In [142]:
# group the df_filtered by ID1 and ID2, and count the number of rows in each group
# the result should also enclude the FREQ column
df_filtered.groupby(['ID1','ID2','FREQ']).size()

ID1     ID2     FREQ
0       10001   -8      1
        10002   -8      1
        10003   -8      1
        10004   -8      1
        10005   -8      1
                       ..
300232  401723   2      1
300235  300100  -8      1
        401733  -8      1
                 1      1
        401734  -8      1
Length: 59713, dtype: int64

## Case 1

### Edgelist

In [143]:
# create a new column called weight in df_filtered
# the weight is counting the number of rows in each group of ID1 and ID2
# create a new df called df_weighted by grouping the df_filtered by ID1 and ID2
# and summing the weight column
df_weighted = df_filtered.groupby(['ID1', 'ID2']).size().reset_index(name='Weight')
display(df_weighted.head(), df_weighted.shape)

   ID1    ID2  Weight
0    0  10001       1
1    0  10002       1
2    0  10003       1
3    0  10004       1
4    0  10005       1

(49709, 3)

In [144]:
# check if there is any duplicated rows on ID1 and ID2 in df_weighted
df_weighted.duplicated(subset=['ID1','ID2']).sum()

0

In [145]:
# are the unique values in ID1 and ID2 the same?
display(len(df_weighted['ID1'].unique()) , len(df_weighted['ID2'].unique()))

4745

33081

In [153]:
# if we combine ID1 and ID2, how many unique values do we have?
unique_values = (df_weighted['ID1'].astype(str) + df_weighted['ID2'].astype(str)).unique()
display(len(unique_values))

49699

In [146]:
# save the df_weighted as a csv file
df_weighted.to_csv('edgelist.csv', index=False)

In [147]:
# check the number of unique values in RID, ID1, and ID2 in df
display(len(df['RID'].unique()), len(df['ID1'].unique()), len(df['ID2'].unique()))

4751

4778

33094

### Node attributes

In [171]:
# Create two separate DataFrames for ID1 and ID2 attributes
df_id1 = df_filtered[['ID1', 'RACE1', 'SEX1', 'ORIENT1', 'BEHAV1', 'AGE1', 'DEALER1', 'HWIFE1', 'DISABLE1', 'UNEMP1', 'STREETS1', 'EDUC1', 'HIV1', 'YOB1']]
df_id2 = df_filtered[['ID2', 'RACE2', 'SEX2', 'ORIENT2', 'BEHAV2', 'AGE2', 'DEALER2', 'HWIFE2', 'DISABLE2', 'UNEMP2', 'STREETS2', 'EDUC2', 'HIV2', 'YOB2']]

# Rename columns to remove the '1' and '2' suffixes
df_id1.columns = ['ID', 'RACE', 'SEX', 'ORIENT', 'BEHAV', 'AGE', 'DEALER', 'HWIFE', 'DISABLE', 'UNEMP', 'STREETS', 'EDUC', 'HIV', 'YOB']
df_id2.columns = ['ID', 'RACE', 'SEX', 'ORIENT', 'BEHAV', 'AGE', 'DEALER', 'HWIFE', 'DISABLE', 'UNEMP', 'STREETS', 'EDUC', 'HIV', 'YOB']

# Concatenate the two DataFrames and drop duplicates
df_nodes = pd.concat([df_id1, df_id2]).drop_duplicates(subset=['ID'])

# Reset the index
df_nodes.reset_index(drop=True, inplace=True)

display(df_nodes.head(), df_nodes.shape,df_filtered.shape)

,ID,RACE,SEX,ORIENT,BEHAV,AGE,DEALER,HWIFE,DISABLE,UNEMP,STREETS,EDUC,HIV,YOB
0,1,4,1,-8,2,27,0,0,0,1,0,-9,0,1964
1,2,4,1,-8,2,23,0,1,0,1,0,12,0,1966
2,4,5,1,-8,0,29,0,0,0,0,0,12,0,1959
3,5,4,1,-8,0,30,1,0,0,1,0,12,0,1958
4,64,4,1,-8,2,30,1,0,0,1,0,12,0,1958

(35214, 14)

(85780, 33)

In [155]:
# check if ID=0 is in df_nodes
df_nodes[df_nodes['ID']==0]

,ID,RACE,SEX,ORIENT,BEHAV,AGE,DEALER,HWIFE,DISABLE,UNEMP,STREETS,EDUC,HIV,YOB
1184,0,2,0,1,-9,41,0,0,1,1,0,12,1,1956

In [169]:
# comebine the ID1 and ID2 columns in df_ini into dataframe column but only keeps the unique values
id_list = pd.concat([df_ini['ID1'], df_ini['ID2']]).unique().tolist()

display(len(id_list))

35229

In [173]:
# Find if the ID in df_nodes that are not in id_list
df_nodes[~df_nodes['ID'].isin(id_list)]

Empty DataFrame
Columns: [ID, RACE, SEX, ORIENT, BEHAV, AGE, DEALER, HWIFE, DISABLE, UNEMP, STREETS, EDUC, HIV, YOB]
Index: []

In [172]:
# check the number of unique values in ID in df_nodes
len(df_nodes['ID'].unique())

35214

In [174]:
missing_ids = set(id_list) - set(df_nodes['ID'].tolist())
print(missing_ids)

{7745, 14913, 14820, 19652, 34554, 16679, 19305, 34834, 18652, 36148, 118643, 14423, 5402, 142939, 142940}

In [175]:
# check if the missing_ids are in ID1 or ID2 in df_ini
df_ini[df_ini['ID1'].isin(missing_ids) | df_ini['ID2'].isin(missing_ids)]

,ID1,ID2,TIETYPE,RACE1,RACE2,SEX1,SEX2,ORIENT1,ORIENT2,BEHAV1,BEHAV2,AGE1,AGE2,DEALER1,DEALER2,HWIFE1,HWIFE2,DISABLE1,DISABLE2,UNEMP1,UNEMP2,STREETS1,STREETS2,YEAR,STDYYEAR,EDUC1,EDUC2,HIV1,HIV2,FREQ,YOB1,YOB2,FRSTYR
4821,4049,5402,1,3,3,1,0,-8,-8,0,0,38,-9,0,-9,0,-9,0,-9,0,-9,0,-9,1992,4,-8,-8,,-8,-8,1953,1900,1
4822,4049,5402,3,3,3,1,0,-8,-8,0,0,38,-9,0,-9,0,-9,0,-9,0,-9,0,-9,1992,4,-8,-8,,-8,8,1953,1900,1
47395,489,16679,1,2,-9,0,1,-9,-8,-9,-9,45,92,-8,-8,-8,-8,-8,-8,1,-8,0,-8,1998,2,16,-8,-8,-8,-8,1953,,1
51485,1835,18652,1,2,-9,0,1,0,-8,0,-9,59,,-8,-8,-8,-8,-8,-8,1,-8,0,-8,1998,1,16,-8,-8,-8,-8,1938,1903,1
53624,4122,14820,1,2,-9,0,1,-9,-8,-9,-9,56,,-8,-8,-8,-8,-8,-8,1,-8,1,-8,2002,3,16,-8,-8,-8,-8,1946,1904,1
59671,7316,7745,1,2,-9,0,0,0,-8,0,-9,35,,-8,-8,-8,-8,-8,-8,0,-8,0,-8,1997,1,16,-8,-8,-8,-8,1962,1903,1
64956,9443,19305,1,4,-9,0,1,-9,-8,-9,-9,48,,-8,-8,-8,-8,-8,-8,1,-8,0,-8,1999,2,16,-8,-8,-8,-8,1950,1904,2
64975,9445,14423,1,4,-9,0,0,-9,-8,0,-9,55,,-8,-8,-8,-8,-8,-8,1,-8,1,-8,2003,3,16,-8,-8,-8,-8,1947,1903,1
72930,10964,19652,1,2,-9,0,1,0,-8,-9,-9,41,,-8,-8,-8,-8,-8,-8,0,-8,1,-8,1998,2,16,-8,-8,-8,-8,1956,1907,2
81653,13099,14913,1,2,-9,1,1,-9,-8,0,-9,46,93,-8,-8,-8,-8,-8,-8,1,-8,0,-8,1998,2,16,-8,-8,-8,-8,1952,,1
82990,118643,34834,3,1,-9,1,0,-8,-8,0,0,,31,-8,-8,-8,-8,-8,-8,-8,-8,-8,-8,1998,1,-8,-8,-8,-8,-8,,1966,1
84659,142657,34554,3,-8,-9,0,1,-8,-8,0,0,,21,-8,-8,-8,-8,-8,-8,-8,-8,-8,-8,1998,1,-8,-8,-8,-8,-8,,1976,1
85019,142939,36148,3,1,-9,1,0,-8,-8,0,0,,-9,-8,-8,-8,-8,-8,-8,-8,-8,-8,-8,1998,1,-8,-8,-8,-8,-8,,1900,1
85020,142940,35394,3,1,-9,1,0,-8,-8,0,0,,31,-8,-8,-8,-8,-8,-8,-8,-8,-8,-8,1998,1,-8,-8,-8,-8,-8,,1966,1

In [182]:
# check if the ID2=14913 is in df_ini
df_ini[df_ini['ID2']==14913]

,ID1,ID2,TIETYPE,RACE1,RACE2,SEX1,SEX2,ORIENT1,ORIENT2,BEHAV1,BEHAV2,AGE1,AGE2,DEALER1,DEALER2,HWIFE1,HWIFE2,DISABLE1,DISABLE2,UNEMP1,UNEMP2,STREETS1,STREETS2,YEAR,STDYYEAR,EDUC1,EDUC2,HIV1,HIV2,FREQ,YOB1,YOB2,FRSTYR
81653,13099,14913,1,2,-9,1,1,-9,-8,0,-9,46,93,-8,-8,-8,-8,-8,-8,1,-8,0,-8,1998,2,16,-8,-8,-8,-8,1952,,1

In [183]:
# check if the ID2=14913 is in df_nodes
df_nodes[df_nodes['ID']==14913]

Empty DataFrame
Columns: [ID, RACE, SEX, ORIENT, BEHAV, AGE, DEALER, HWIFE, DISABLE, UNEMP, STREETS, EDUC, HIV, YOB]
Index: []

In [184]:
# check the ID2=14913 in df_filtered
df_filtered[df_filtered['ID2']==14913]

Empty DataFrame
Columns: [ID1, ID2, TIETYPE, RACE1, RACE2, SEX1, SEX2, ORIENT1, ORIENT2, BEHAV1, BEHAV2, AGE1, AGE2, DEALER1, DEALER2, HWIFE1, HWIFE2, DISABLE1, DISABLE2, UNEMP1, UNEMP2, STREETS1, STREETS2, YEAR, STDYYEAR, EDUC1, EDUC2, HIV1, HIV2, FREQ, YOB1, YOB2, FRSTYR]
Index: []

In [185]:
# comebine the ID1 and ID2 columns in df_filtered into dataframe column but only keeps the unique values
id_list2 = pd.concat([df_filtered['ID1'], df_filtered['ID2']]).unique().tolist()

display(len(id_list2))

35214

In [187]:
# sort the df_nodes by ID
df_nodes = df_nodes.sort_values(by=['ID'])
display(df_nodes.head(), df_nodes.shape,df_nodes.tail())

,ID,RACE,SEX,ORIENT,BEHAV,AGE,DEALER,HWIFE,DISABLE,UNEMP,STREETS,EDUC,HIV,YOB
1184,0,2,0,1,-9,41,0,0,1,1,0,12,1,1956
0,1,4,1,-8,2,27,0,0,0,1,0,-9,0,1964
1,2,4,1,-8,2,23,0,1,0,1,0,12,0,1966
1185,3,2,0,0,-9,55,0,0,0,0,0,10,1,1942
2,4,5,1,-8,0,29,0,0,0,0,0,12,0,1959

(35214, 14)

,ID,RACE,SEX,ORIENT,BEHAV,AGE,DEALER,HWIFE,DISABLE,UNEMP,STREETS,EDUC,HIV,YOB
13499,402006,3,0,-8,-9,12,-8,-8,-8,-8,-8,-8,-8,1985
13524,402109,2,0,-8,-9,37,-8,-8,-8,-8,-8,-8,-8,1960
13525,402110,3,1,-8,0,39,-8,-8,-8,-8,-8,-8,-8,1958
13527,402121,2,1,-8,0,40,-8,-8,-8,-8,-8,-8,-8,1957
13528,402122,2,1,-8,-9,26,-8,-8,-8,-8,-8,-8,-8,1971

In [188]:

# save df_nodes as a csv file called nodes.csv
df_nodes.to_csv('nodes.csv', index=False)

## Case 2

In [193]:
df_filtered.head()

,ID1,ID2,TIETYPE,RACE1,RACE2,SEX1,SEX2,ORIENT1,ORIENT2,BEHAV1,BEHAV2,AGE1,AGE2,DEALER1,DEALER2,HWIFE1,HWIFE2,DISABLE1,DISABLE2,UNEMP1,UNEMP2,STREETS1,STREETS2,YEAR,STDYYEAR,EDUC1,EDUC2,HIV1,HIV2,FREQ,YOB1,YOB2,FRSTYR
0,1,106,3,4,4,1,1,-8,-8,2,2,27,37,0,0,0,0,0,0,1,0,0,0,1992,4,-9,-8,0,-8,1,1964,1954,1
1,1,236,2,4,4,1,1,-8,-8,2,0,25,27,0,0,0,0,0,0,1,1,0,0,1990,2,-9,-9,0,0,0,1964,1962,1
2,1,266,2,4,2,1,1,-8,-8,2,2,26,28,0,1,0,0,0,0,1,1,0,0,1991,3,-9,-8,0,0,3,1964,1962,1
3,1,266,4,4,2,1,1,-8,-8,2,2,26,28,0,1,0,0,0,0,1,1,0,0,1991,3,-9,-8,0,0,2,1964,1962,1
4,1,283,2,4,4,1,1,-8,-8,2,2,26,20,0,1,0,0,0,0,1,1,0,0,1991,3,-9,-8,0,0,2,1964,1971,1

In [199]:
df_filtered2=df_filtered.copy()

df_filtered2.shape

(85780, 33)

In [197]:
# Create a boolean mask indicating whether each cell has a value of -8 or -9
mask = (df_filtered2 == -8) | (df_filtered2 == -9)

# Check if all rows have at least one -8 or -9 value
all_rows_have_out_of_domain = mask.any(axis=1).all()

print(all_rows_have_out_of_domain)

False

In [198]:
# Count the number of rows with at least one -8 or -9 value
num_rows_with_out_of_domain = mask.any(axis=1).sum()

print(num_rows_with_out_of_domain)

85301

In [200]:
# Drop the rows with at least one -8 or -9 value
df_filtered2_cleaned = df_filtered2.loc[~mask.any(axis=1)]

# Check if the cleaned DataFrame contains any -8 or -9 values
contains_out_of_domain = ((df_filtered2_cleaned == -8) | (df_filtered2_cleaned == -9)).any().any()

print(contains_out_of_domain)

False

In [201]:
display(df_filtered2_cleaned.head(), df_filtered2_cleaned.shape)

,ID1,ID2,TIETYPE,RACE1,RACE2,SEX1,SEX2,ORIENT1,ORIENT2,BEHAV1,BEHAV2,AGE1,AGE2,DEALER1,DEALER2,HWIFE1,HWIFE2,DISABLE1,DISABLE2,UNEMP1,UNEMP2,STREETS1,STREETS2,YEAR,STDYYEAR,EDUC1,EDUC2,HIV1,HIV2,FREQ,YOB1,YOB2,FRSTYR
22107,100000,200998,3,2,2,0,1,0,0,2,2,46,40,0,0,0,0,0,0,1,1,0,0,1997,1,12,11,0,0,2,1950,1956,1
22121,100000,201256,3,2,2,0,1,0,0,2,0,46,30,0,0,0,0,0,0,1,0,0,0,1997,1,12,12,0,0,3,1950,1966,1
22259,100001,200035,3,2,2,1,0,0,0,0,0,41,48,0,0,0,0,0,1,1,0,1,0,1996,1,-6,12,0,0,1,1954,1947,1
22277,100001,200046,3,2,2,1,0,0,0,0,0,41,52,0,0,0,0,0,1,1,1,1,0,1996,1,-6,12,0,0,1,1954,1944,1
22283,100001,200924,3,2,2,1,0,0,0,0,0,42,54,0,0,0,0,0,0,1,1,1,0,1997,1,11,6,0,0,1,1954,1942,1

(479, 33)

## Case 3

### Edgelist

In [210]:
# create a df called df_filtered3 by only keeping ID1 ID2 RACE1 RACE2 SEX1 SEX2 AGE1 AGE2 BEHAV1 BEHAV2 DISABLE1 DISABLE2 UNEMP1 UNEMP2	STREETS1 STREETS2 EDUC1 EDUC2
# from df_filtered

# Assuming you already have the df_filtered DataFrame
columns_to_keep = ['ID1', 'ID2', 'RACE1', 'RACE2', 'SEX1', 'SEX2', 
                   'AGE1', 'AGE2', 'BEHAV1', 'BEHAV2', 'DISABLE1', 'DISABLE2', 
                   'UNEMP1', 'UNEMP2', 'STREETS1', 'STREETS2',
                   'EDUC1', 'EDUC2']

df_filtered3 = df_filtered[columns_to_keep]

display(df_filtered3.head(), df_filtered3.shape)

,ID1,ID2,RACE1,RACE2,SEX1,SEX2,AGE1,AGE2,BEHAV1,BEHAV2,DISABLE1,DISABLE2,UNEMP1,UNEMP2,STREETS1,STREETS2,EDUC1,EDUC2
0,1,106,4,4,1,1,27,37,2,2,0,0,1,0,0,0,-9,-8
1,1,236,4,4,1,1,25,27,2,0,0,0,1,1,0,0,-9,-9
2,1,266,4,2,1,1,26,28,2,2,0,0,1,1,0,0,-9,-8
3,1,266,4,2,1,1,26,28,2,2,0,0,1,1,0,0,-9,-8
4,1,283,4,4,1,1,26,20,2,2,0,0,1,1,0,0,-9,-8

(85780, 18)

In [211]:
# Drop the rows with at least one -8 or -9 value in df_filtered3
mask3 = (df_filtered3 == -8) | (df_filtered3 == -9)
df_filtered3_cleaned = df_filtered3.loc[~mask3.any(axis=1)]

# Check if the cleaned DataFrame contains any -8 or -9 values
contains_out_of_domain = ((df_filtered3_cleaned == -8) | (df_filtered3_cleaned == -9)).any().any()


print(contains_out_of_domain)

False

In [212]:
display(df_filtered3_cleaned.head(), df_filtered3_cleaned.shape)

,ID1,ID2,RACE1,RACE2,SEX1,SEX2,AGE1,AGE2,BEHAV1,BEHAV2,DISABLE1,DISABLE2,UNEMP1,UNEMP2,STREETS1,STREETS2,EDUC1,EDUC2
162,5,41,4,4,1,1,30,29,0,2,0,1,1,1,0,0,12,12
166,5,64,4,4,0,1,33,30,0,2,0,0,0,1,0,0,12,12
168,5,151,4,4,0,1,33,35,0,0,0,0,0,1,0,0,12,13
173,5,192,4,4,0,1,33,31,0,0,0,1,0,0,0,0,12,11
201,151,41,4,4,1,1,35,29,0,2,0,1,1,1,0,0,13,12

(4399, 18)

In [213]:
df_weighted3 = df_filtered3_cleaned.groupby(['ID1', 'ID2']).size().reset_index(name='Weight')
display(df_weighted3.head(), df_weighted3.shape)

   ID1  ID2  Weight
0    5   41       1
1    5   64       1
2    5  151       1
3    5  192       1
4    9  742       2

(1829, 3)

In [221]:
# save as a csv file called edges3.csv
df_weighted3.to_csv('edgelist3.csv', index=False)

### node attributes

In [217]:
# Create two separate DataFrames for ID1 and ID2 attributes
df_id1 = df_filtered3_cleaned[['ID1', 'RACE1', 'SEX1', 'AGE1', 'BEHAV1', 'DISABLE1', 'UNEMP1', 'STREETS1', 'EDUC1']]
df_id2 = df_filtered3_cleaned[['ID2', 'RACE2', 'SEX2', 'AGE2', 'BEHAV2', 'DISABLE2', 'UNEMP2', 'STREETS2', 'EDUC2']]

# Rename columns to remove the '1' and '2' suffixes
df_id1.columns = ['ID', 'RACE', 'SEX', 'AGE', 'BEHAV', 'DISABLE', 'UNEMP', 'STREETS', 'EDUC']
df_id2.columns = ['ID', 'RACE', 'SEX', 'AGE', 'BEHAV', 'DISABLE', 'UNEMP', 'STREETS', 'EDUC']

# Concatenate the two DataFrames and drop duplicates
df_nodes3 = pd.concat([df_id1, df_id2]).drop_duplicates(subset=['ID'])

# Reset the index
df_nodes3.reset_index(drop=True, inplace=True)

display(df_nodes3.head(), df_nodes3.shape)

    ID  RACE  SEX  AGE  BEHAV  DISABLE  UNEMP  STREETS  EDUC
0    5     4    1   30      0        0      1        0    12
1  151     4    1   35      0        0      1        0    13
2    9     4    1   26      0        0      1        0    14
3   10     4    1   28      0        0      1        0    12
4   12     4    0   37      0        0      0        0    12

(697, 9)

In [219]:
# sort the df_nodes3 by ID
df_nodes3 = df_nodes3.sort_values(by=['ID'])

display(df_nodes3.head(), df_nodes3.shape,df_nodes3.tail())

     ID  RACE  SEX  AGE  BEHAV  DISABLE  UNEMP  STREETS  EDUC
601   1     4    1   24      2        0      1        0    12
631   2     4    1   24      2        0      1        0    12
598   3     4    0   72      0        0      0        0     5
0     5     4    1   30      0        0      1        0    12
599   6     2    0   58      0        0      0        0    12

(697, 9)

         ID  RACE  SEX  AGE  BEHAV  DISABLE  UNEMP  STREETS  EDUC
583  300224     2    0   44      0        0      0        0    14
693  300227     2    0   55      0        0      0        0    11
584  300230     2    0   50      0        0      1        0    11
585  300232     2    0   27      0        0      1        0    12
586  300235     2    0   49      0        0      0        0    15

In [220]:
# save df_nodes3 as a csv file called nodes3.csv
df_nodes3.to_csv('nodes3.csv', index=False)